.gray-bg{
  background-color: #F5F5F5;
}
.content{
  text-align: left;
  box-sizing: border-box;
  padding-top: 2em;
  margin: 0 auto;
  align-items: center;
}
.section-header{
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1em;
    color: #FF3800;
    text-align: center;
}
.contact-card{
  padding: 1em;
}
.contact-form{
  text-align: center;
}
.services-card.mdl-card {
  width: 320px;
  height: 320px;
}
.services-card > .mdl-card__title {
  color: #FFF;
}
.no-webp .image-asus> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/zenbook.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: cover;
}
.webp .image-asus> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/zenbook.webp') bottom right 15% no-repeat #46B6AC / cover;
}
.no-webp .image-maintenance> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/harddrive.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: cover;
}
.webp .image-maintenance> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/harddrive.webp') bottom right 15% no-repeat #46B6AC / cover;
}
.no-webp .image-gst> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/billing.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: cover;
}
.webp .image-gst> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/billing.webp') bottom right 15% no-repeat #46B6AC / cover;
}
.no-webp .image-networking> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/router.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: cover;
}
.webp .image-networking> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/router.webp') bottom right 15% no-repeat #46B6AC / cover;
}
.no-webp .image-surveillance> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/surveillance.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: cover;
}
.webp .image-surveillance> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/surveillance.webp') bottom right 15% no-repeat #46B6AC / cover;
}
.no-webp .image-thin-client> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/keyboard.jpg') bottom right 15% no-repeat #46B6AC;
  background-size: cover;
}
.webp .image-thin-client> .mdl-card__title, .services-card  > .mdl-card__title{
  background: url('assets/images/keyboard.webp') bottom right 15% no-repeat #46B6AC / cover;
}
.map-card.mdl-card {
  width: auto;
  height: 450px;
}
